@model Lab1.Models.Employee

@{
    ViewData["Title"] = "Usuń Pracownika";
}

<h1>Usuń Pracownika</h1>
<h3>Czy na pewno chcesz usunąć pracownika?</h3>
<div>
    <h4>Pracownik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployedSince)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployedSince)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InsuranceNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WarningsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WarningsCount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy pracowników</a>
    </form>
</div>
