@model IEnumerable<Lab1.Models.Employee>

@{
    ViewData["Title"] = "Pracownicy - lista";
}

<h1>Pracownicy</h1>

<p>
    <a asp-action="Create">Dodaj Nowego Pracownika</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EmployedSince)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.InsuranceNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.WarningsCount)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EmployedSince)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceNumber)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.WarningsCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>